{% extends 'lectureFinderApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div class="main-body">
        <div class="body-container-about">

            <div class="heading">About Us</div>

            <div class="about-paragraph">
                Lecture Finder is a web application for students and professors, where professors can sign up to upload lectures for the students to view (and save if you sign up)! 
            </div>

        </div>
    </div>
{% endblock %}

