{% extends 'lectureFinderApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div class="main-body">
        <div class="body-container-about">

            <div class="heading">About Us</div>

            <div class="about-paragraph">
                LectureFinder is a platform for professors, who have signed up to our web application, to upload lecture content for students to view. All users can perform keyword searches and get filtered results. Users with accounts can save and like each of these lectures.<br>
                <strong>EMAIL: <a class="email-link" href="mailto: lectureFinder91@gmail.com">lectureFinder91@gmail.com</a></strong>
            </div>

        </div>
    </div>
{% endblock %}

