{% extends 'lectureFinderApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block main_block %}
<div class="main-body">
    <div class="body-container-about">

        <div class="heading">About Us</div>

        <div class="about-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac tristique leo, quis congue ante. Curabitur
            dictum felis sit amet ipsum aliquet pellentesque. Nunc laoreet rhoncus iaculis. Pellentesque efficitur nisl
            vitae mauris mollis consequat. Maecenas fermentum ullamcorper eros, eu congue metus tincidunt non.
        </div>

    </div>
</div>
{% endblock %}

