<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css"/>
    <meta charset="UTF-8">
    <title>
        {% block title_block %}
            WAD2 - Group Project
        {% endblock %}
    </title>
</head>

<header>
    <div class="header-container-a">
        <div><a href="index.html"><img class="logo" src="../../static/images/logo.png" alt="FindMyLecture logo"></a></div>
        <div class="enter-container">
            {% if logged_in %}
                <button class="enter-btn btn-a"><strong>Log in</strong></button>
                <button class="enter-btn btn-b"><strong>Sign up</strong></button>
            {% endif %}
        </div>
    </div>

    <div class="header-container-b">
        <div class="navbar">

            <div><a class="navbar-btn" href="/lectureFinderApp/">HOME</a></div>
            <div><a class="navbar-btn" href="/lectureFinderApp/courses/">COURSES</a></div>
            <div><a class="navbar-btn" href="/lectureFinderApp/members/">MEMBERS</a></div>
            <div><a class="navbar-btn" href="/lectureFinderApp/search/">SEARCH</a></div>

        </div>
    </div>
</header>


<body class="main-body">
    {% block main_body %}
    {% endblock %}
</body>


</html>