<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/light.css' %}" id="theme-link"/>
    <meta charset="UTF-8">
    <title>
        {% block title_block %}
        WAD2 - Group Project
        {% endblock %}
    </title>
</head>
<body style="margin: 0;">
<header>
    <div class="header-container">

        {% if currentTheme == light %}
            <div class="logo-area"><a href="{% url 'lectureFinderApp:index' %}"><img class="logo" src="{% static 'images/logo-black.png' %}"
                                                         alt="FindMyLecture logo"></a></div>
        {% else %}
        <div class="logo-area"><a href="{% url 'lectureFinderApp:index' %}"><img class="logo" src="{% static 'images/logo-white.png' %}"
                                                         alt="FindMyLecture logo"></a></div>
        {% endif %}

        <div class="nav-area">
            <nav class="navbar">
                <div><a class="navbar-btn" href="{% url 'lectureFinderApp:index' %}">HOME</a></div>
                {% if user.is_authenticated %}
                    <div><a class="navbar-btn" href="{% url 'lectureFinderApp:members' %}">MEMBERS</a></div>
                {% endif %}
                <div><a class="navbar-btn" href="{% url 'lectureFinderApp:search' %}">SEARCH</a></div>
                <div><a class="navbar-btn" href="{% url 'lectureFinderApp:about' %}">ABOUT</a></div>

            </nav>
            <div>
                <div class="enter-container">
                    <button class="navbar-btn" id="darkmode_btn" onclick="ToggleTheme()">Dark Mode</button>

                    {% if not user.is_authenticated %}
                        <button class="enter-btn log-in" onclick="document.getElementById('id01').style.display='block'">Log
                            in
                        </button>

                        <div id="id01" class="modal">
                            <form class="modal-content animate" action="{% url 'lectureFinderApp:login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-header">
                                    <div class="form-title"><h1>Log in</h1></div>

                                    <div class="close-btn-container">
                                <span onclick="document.getElementById('id01').style.display='none'"
                                      class="close">&times;</span>
                                    </div>
                                </div>

                                <div class="form-container">
                                    <div class="form-input">
                                        <label for="username"><b>Username</b>
                                            <input type="text" placeholder="Enter Username" name="username" required>
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label for="password"><b>Password</b>
                                            <input type="password" placeholder="Enter Password" name="password" required>
                                        </label>
                                    </div>


                                    <div class="login-options-container">
                                        <div><a class="password-reset-link" href="#">Forgot password?</a></div>

                                    </div>

                                </div>

                                <div class="portal-buttons-container">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                            class="enter-btn cancel-btn">Cancel
                                    </button>
                                    <button class="enter-btn log-in" type="submit">Log in</button>
                                </div>

                            </form>
                        </div>

                        <button class="enter-btn sign-up" onclick="document.getElementById('id02').style.display='block'">
                            Sign up
                        </button>

                        <div id="id02" class="modal">
                            <form class="modal-content animate" action="{% url 'lectureFinderApp:signup' %}" method="POST" enctype="multipart/form-data">
                                
                                <div class="form-header">
                                    <div class="form-title"><h1>Sign up</h1></div>

                                    <div class="close-btn-container">
                                <span onclick="document.getElementById('id02').style.display='none'"
                                      class="close">&times;</span>
                                    </div>
                                </div>

                                <div class="form-container">
                                    <div class="form-input">
                                        <label for="username"><b>Username</b>
                                            {{ user_form.username }}
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label for="first_name"><b>First Name</b>
                                            {{ user_form.first_name }}
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label for="last_name"><b>Last Name</b>
                                            {{ user_form.last_name }}
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label for="email"><b>Email</b>
                                            {{ user_form.email }}
                                        </label>
                                    </div>

                                    <div class="form-input">
                                        <label for="password"><b>Password</b>
                                            {{ user_form.password }}
                                        </label>
                                    </div>

                                    <div class="checkbox-container">
                                        <label>{{ user_profile_form.is_professor }}</label>
                                        <span>Are you a lecturer/professor?</span>
                                    </div>
                                </div>

                                <div class="portal-buttons-container">
                                    <button type="button" onclick="document.getElementById('id02').style.display='none'"
                                            class="enter-btn cancel-btn">Cancel
                                    </button>
                                    <button type="submit" class="enter-btn sign-up" name="submit" value="Signup">Sign up</button>
                                </div>
                                <div class="tos-container"><p>By creating an account you agree to our <a href="{% url 'lectureFinderApp:terms_and_conditions' %}"style="color:dodgerblue">Terms & Conditions</a>.</p></div>
                            </form>
                    </div>
                    {% else %}
                        <button class="enter-btn log-in" onclick="document.getElementById('id01').style.display='block'">
                            <a href="{% url 'lectureFinderApp:logout' %}">Logout</a>
                        </button>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
</header>
<script src="{% static 'js/base.js' %}"></script>

{% if messages %}
    <div class="alert">
        {% for message in messages %}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>{{ message }}</strong>
        {% endfor %}
    </div>
{% endif %}

{% block body_block %}
{% endblock %}
</body>
</html>
