{% extends 'lectureFinderApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block main_body %}
    <div class="main-body">
        <div class="body-container-index">

            <div>
                <div class="table-card">
                    <div>
                        <div class="category-title">Recently Uploaded</div>
                    </div>
                    <div class="table">
                        {% for list_item in recently_uploaded %}
                            {% if forloop.counter == 1 %}
                                <div class="table-cell table-top">
                                    <div class="cell-container"><a class="list-item"
                                                                   href="{% url list_item.url %}">{{ list_item }}</a>
                                    </div>
                                </div>
                            {% elif forloop.counter == 5 %}
                                <div class="table-cell table-bottom">
                                    <div class="cell-container"><a class="list-item" href="#">{{ list_item }}</a></div>
                                </div>
                            {% else %}

                                <div class="table-cell">
                                    <div class="cell-container"><a class="list-item" href="#">{{ list_item }}</a></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="index-col-2">
                <div class="table-card">

                    <div class="category-title">Most Viewed</div>

                    <div class="table">
                        {% for list_item in most_viewed %}
                            {% if forloop.first %}
                                <div class="table-cell table-top">
                                    <div class="cell-container"><a class="list-item"
                                                                   href="{% url list_item.url %}">{{ list_item }}</a>
                                    </div>
                                </div>
                            {% elif forloop.last %}
                                <div class="table-cell table-bottom">
                                    <div class="cell-container"><a class="list-item" href="#">{{ list_item }}</a></div>
                                </div>
                            {% else %}

                                <div class="table-cell">
                                    <div class="cell-container"><a class="list-item" href="#">{{ list_item }}</a></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

