{% extends 'lectureFinderApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}    
<div class="main-body">
        <div class="body-container-index">

            <div class="index-col-1">
                <div class="table-card">
                    <div>
                        <div class="category-title">Recently Uploaded</div>
                    </div>
                    <div class="table">
                        {% if recently_uploaded %}
                            {% for list_item in recently_uploaded %}
                                {% if forloop.first %}
                                    <div class="table-cell table-top">
                                        <div class="cell-container"><a class="list-item"
                                                                       href="{% url 'lectureFinderApp:show_lecture' list_item.slug %}">{{ list_item }}</a>
                                        </div>
                                    </div>
                                {% elif forloop.last %}
                                    <div class="table-cell table-bottom">
                                        <div class="cell-container"><a class="list-item" href="{% url 'lectureFinderApp:show_lecture' list_item.slug %}">{{ list_item }}</a></div>
                                    </div>
                                {% else %}

                                    <div class="table-cell">
                                        <div class="cell-container"><a class="list-item" href="{% url 'lectureFinderApp:show_lecture' list_item.slug %}">{{ list_item }}</a></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="table-cell table-top">
                                <p>No recent lectures.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="index-col-2">
                <div class="table-card">

                    <div class="category-title">Most Viewed</div>

                    <div class="table">
                        {% if most_viewed %}
                            {% for list_item in most_viewed %}
                                {% if forloop.first %}
                                    <div class="table-cell table-top">
                                        <div class="cell-container"><a class="list-item"
                                                                       href="{% url 'lectureFinderApp:show_lecture' list_item.slug %}">{{ list_item }}</a>
                                            <p class="list-item"><strong>({{ list_item.views }} views)</strong></p>
                                        </div>
                                    </div>
                                {% elif forloop.last %}
                                    <div class="table-cell table-bottom">
                                        <div class="cell-container"><a class="list-item" href="{% url 'lectureFinderApp:show_lecture' list_item.slug %}">{{ list_item }}</a>
                                        <p class="list-item"><strong>({{ list_item.views }} views)</strong></p>
                                        </div>
                                    </div>
                                {% else %}

                                    <div class="table-cell">
                                        <div class="cell-container"><a class="list-item" href="{% url 'lectureFinderApp:show_lecture' list_item.slug %}">{{ list_item }}</a>
                                        <p class="list-item"><strong>({{ list_item.views }} views)</strong></p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="table-cell table-top">
                                <p>No recent lectures.</p>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

