{% extends 'lectureFinderApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
    <div class="main-body">

        <div class="body-container-search">
            <form action="{% url 'lectureFinderApp:search' %}" method="POST">
                {% csrf_token %}
                 <div class="input-container">
                    <input class="search-bar" type="search"
                           placeholder="Enter a keyword, phrase, or leave blank for filter search only" name="search_query">
                    <button class="search-btn" type="submit" name="submit"><img src="{% static 'images/search-icon.png' %}" height="35"></button>
                </div>

                <div class="filter-container">
                    <p><strong>Refine Search</strong></p>
                    <div>
                        <label>Select a course</label>
                        <select class="dropdown" name="refine_course">
                            {% for course in courses %}
                                <option value="{{ course.code }}">{{ course.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Select a lecturer</label>
                        <select class="dropdown" name="refine_lecturer">
                            {% for professor in professors %}
                                <option value="{{ professor.user.id }}">{{ professor.user.first_name }} {{ professor.user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Select a week</label>
                        <select class="dropdown" name="refine_week">
                            {% for week in range %}
                                <option value="{{ week }}">Week {{ week }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>


            <div class="results-container">
                <div class="table">
                    {% for item in results %}
                        {% if forloop.first %}
                            <div class="table-cell table-top">
                                <div class="cell-container"><a class="list-item" href="#">{{ list_item }}</a></div>
                            </div>
                        {% elif forloop.last %}
                            <div class="table-cell table-bottom">
                                <div class="cell-container"><a class="list-item" href="#">{{ list_item }}</a></div>
                            </div>
                        {% else %}
                            <div class="table-cell">
                                <div class="cell-container"><a class="list-item" href="#">{{ list_item }}</a></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}
