{% extends 'lectureFinderApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
    <div class="main-body">

        <div class="body-container-search">
            <form action="{% url 'lectureFinderApp:search' %}" method="POST">
                {% csrf_token %}
                <div class="input-container">
                    <label for="search-bar">
                        <input class="search-bar" type="search"
                               placeholder="Enter a keyword, phrase, or leave blank for filter search only"
                               name="search_query">
                    </label>
                    <button class="search-btn" type="submit" name="submit"><img class="search-icon"
                                                                                src="{% static 'images/search-icon.png' %}">
                    </button>
                </div>

                <div class="filter-container">
                    <div class="filter-text"><strong>Refine Search</strong></div>
                    <div>
                        <div class="dropdown-label filter-text">Select a course</div>
                        <label for="refine_course">
                            <select class="dropdown" name="refine_course">
                                <option value="-1">----</option>
                                {% for course in courses %}
                                    <option value="{{ course.code }}">{{ course.name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div>
                        <div class="dropdown-label filter-text">Select a lecturer</div>
                        <label for="refine_lecturer">
                            <select class="dropdown" name="refine_lecturer">
                                <option value="-1">----</option>
                                {% for professor in professors %}
                                    <option value="{{ professor.user.id }}">{{ professor.user.first_name }} {{ professor.user.last_name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div>
                        <div class="dropdown-label filter-text">Select a week</div>
                        <label for="refine_week">
                            <select class="dropdown" name="refine_week">
                                <option value="-1">----</option>
                                {% for week in range %}
                                    <option value="{{ week }}">Week {{ week }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
            </form>


            <div class="results-container">
                {% if search_results|length == 1 %}
                    <strong class="filter-text">We found 1 result:</strong>
                    <div class="table">
                        {% for lecture in search_results %}
                            <div class="table-cell table-single">
                                <div class="cell-container"><a class="list-item"
                                                               href="{% url 'lectureFinderApp:show_lecture' lecture.first.slug %}">{{ lecture.first.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <strong class="filter-text">We found {{ search_results|length }} results:</strong>
                    <div class="table">
                        {% for lecture in search_results %}
                            {% if forloop.first %}
                                <div class="table-cell table-top">
                                    <div class="cell-container"><a class="list-item"
                                                                   href="{% url 'lectureFinderApp:show_lecture' lecture.first.slug %}">{{ lecture.first.title }}</a>
                                    </div>
                                </div>
                            {% elif forloop.last %}
                                <div class="table-cell table-bottom">
                                    <div class="cell-container"><a class="list-item"
                                                                   href="{% url 'lectureFinderApp:show_lecture' lecture.first.slug %}">{{ lecture.first.title }}</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="table-cell">
                                    <div class="cell-container"><a class="list-item"
                                                                   href="{% url 'lectureFinderApp:show_lecture' lecture.first.slug %}">{{ lecture.first.title }}</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>

    </div>

{% endblock %}
