{% extends 'lectureFinderApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Lecture | {{ lecture.title }}
{% endblock %}

{% block body_block %}
    {{ lecture.title }} <br>
    <a href="{{ lecture.video_url }}">Lecture Video</a> <br>
    <a href="{{ lecture.slideshow_url }}">Lecture Slides</a>
    <p>Views: {{ lecture.views }}</p>
    <p>Likes: {{ lecture.likes }}</p>
    <p>Course: {{ lecture.course.name }}</p>
    <p>Uploaded by: {{ lecture.professor.user.first_name }} {{ lecture.professor.user.last_name }}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'lectureFinderApp:save_lecture' lecture.slug %}">Save this lecture</a>
    {% endif %}
{% endblock %}